---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Penilaian } from "@/components/Penilaian";
const { searchParams } = Astro.url;
const id = searchParams.get("id");
---

<BaseLayout>
    <div class="mx-20 max-sm:mx-5 my-30">
        <h1 class="text-3xl font-bold mb-10">Penilaian Layanan</h1>
        <Penilaian client:only="react" layananId={id as string} />
    </div>
</BaseLayout>