---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ProgresCek } from "@/components/ProgresCek";

---

<BaseLayout>
    <div class="mx-20 max-sm:mx-5 my-30">
        <h1 class="text-3xl font-bold mb-10">Cek Progres</h1>
        <ProgresCek client:only="react"/>
    </div>
</BaseLayout>