---
import { Image } from "astro:assets";
const currentLink = Astro.url.pathname;
import pb from "@/lib/database";

const data = await pb.collection("categories").getFullList({filter: `type = 'berita'`})
const links = data.map((item) => ({
    name: item.name,
    href: '/berita/kategori/' + item.name,
}))

const isActive = (href: string) => {
    return currentLink === href || currentLink.startsWith(href);
};
---

<nav class="bg-black text-white px-5 py-4">
  <div class="flex items-center justify-between">
    {/* Logo */}
    <div class="flex items-center gap-2">
      <Image src="/logo/logo.png" alt="logo" width={40} height={40} />
      <a href="/berita">
        <p class="text-sm">Portal Berita</p>
        <p class="text-sm">Kantor Kementerian Agama Kota Probolinggo</p>
      </a>
    </div>

    {/* Desktop Menu */}
    <!-- <div class="hidden md:flex items-center text-xs">
      <a href="/" class="mr-5 opacity-70 hover:opacity-100">Halaman Awal</a>
      {links.map((link) => (
        <a 
          href={link.href} 
          class={`mr-2 opacity-70 hover:opacity-100 ${isActive(link.href) ? "font-bold" : ""}`}
        >
          {link.name}
        </a>
      ))}
    </div> -->
    <div class="flex items-center gap-2">
      <a href="/" class="mr-5 opacity-70 hover:opacity-100 max-sm:hidden">Halaman Awal</a>
      <form method="get" class="flex items-center gap-2">
        <input name="search" type="search" placeholder="Cari Berita" class="bg-white text-black px-5 py-2 rounded-md"/>
        <button type="submit" class="bg-white text-black px-5 py-2 rounded-md">Cari</button>
      </form>
      {/* Mobile Menu Button */}
      <button id="menu-btn" class="flex flex-col gap-1 cursor-pointer">
        <span class="w-6 h-0.5 bg-white"></span>
        <span class="w-6 h-0.5 bg-white"></span>
        <span class="w-6 h-0.5 bg-white"></span>
      </button>
    </div>

  </div>

  {/* Mobile Dropdown */}
  <div id="mobile-menu" class="flex-col flex hidden mt-4 space-y-3">
    <a href="/" class="hidden opacity-70 hover:opacity-100 max-sm:block">Halaman Awal</a>
    {links.map((link) => (
      <a 
        href={link.href} 
        class={`opacity-70 hover:opacity-100 ${isActive(link.href) ? "font-bold" : ""}`}
      >
        {link.name}
      </a>
    ))}
  </div>

  <script>
    const btn = document.getElementById("menu-btn");
    const menu = document.getElementById("mobile-menu");
    btn?.addEventListener("click", () => {
      menu?.classList.toggle("hidden");
    });
  </script>
</nav>
