---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { LayananSubmit } from "@/components/LayananSubmit";
import pb from '@/lib/database';
const { id } = Astro.params 
const data = await pb.collection('services').getOne(id as string)
---

<BaseLayout title={`Submit Layanan ${data.name}`}>
  <div class="mx-20 max-sm:mx-5 mt-30 space-y-2">
    <h1 class="text-3xl font-bold capitalize max-sm:text-2xl">Submit Layanan {data.name}</h1>
    <p class="opacity-70">Silahkan submit layanan yang anda perlukan</p>

    <LayananSubmit layananID={id as string} className="grid grid-cols-2 max-sm:grid-cols-1 gap-20 max-sm:gap-10 mt-10" client:only="react"/>
    </div>
  </div>

</BaseLayout>
