---
import HorizontalNews from "@/components/berita/HorizontalNews.astro";
import NewsLayout from "@/layouts/NewsLayout.astro";

const { slug } = Astro.params;
const categories = [
    {
        name: "Bimbingan Masyarakat",
        slug: "bimbingan-masyarakat",
    },
    {
        name: "Pendidikan Madrasah",
        slug: "pendidikan-madrasah",
    },
    {
        name: "Pondok Pesantren",
        slug: "pondok-pesantren",
    },
    {
        name: "Zakat dan Wakaf",
        slug: "zakat-wakaf",
    },
    {
        name: "Haji dan Umroh",
        slug: "haji-umroh",
    },
    {
        name: "KUA",
        slug: "kua",
    },
]

const category = categories.find((item) => item.slug === slug);

if (!category) {
    throw new Error("Category not found");
}

---

<NewsLayout title={category.name}>
    <section class="mt-5 mx-20 max-sm:mx-10">
         <div class="flex items-center justify-between mb-5">
			 <h1 class="text-2xl font-semibold">{category.name}</h1>
		 </div>
		 <div class="grid grid-cols-4 max-sm:grid-cols-1 gap-5 mb-20">
			 <HorizontalNews title="Probolinggo Menjadi Bagian orang baik" date="12 Oktober 2023" category="Pertanian" image="https://picsum.photos/500/500" description="Probolinggo adalah kota yang menawarkan banyak keunikan, seperti keindahan alamnya, keberagaman budayanya, dan keberhasilan pertaniannya." />
		 </div>
    </section>
</NewsLayout>