---
import BaseLayout from '@/layouts/BaseLayout.astro'
import LayananComponent from "@/components/Layanan.astro";
import { layanan } from "../../data/layanan.jsx";

const { id } = Astro.params 
---

<BaseLayout title={`Layanan ${id}`}>
  <div class="mx-20 max-sm:mx-5 mt-30 space-y-2">
    <h1 class="text-3xl font-bold capitalize">Layanan {id}</h1>
    <p class="opacity-70">Silahkan memilih layanan yang anda perlukan</p>
  </div>
    <LayananComponent data={layanan} className="mx-20 max-sm:mx-5 my-10 max-sm:my-5" />
</BaseLayout>
