---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Struktur from "@/components/Struktur";
import pb from "@/lib/database";

const struktur = await pb.collection('organizations').getFullList({expand:'category', sort:'-created'})

---

<BaseLayout>
  <div class="max-sm:mx-5 mx-20 my-30">
    <h1 class="text-3xl font-bold mb-10">Struktur Organisasi</h1>
      <Struktur struktur={struktur} client:visible />
  </div>
</BaseLayout>
