---
import BaseLayout from "@/layouts/BaseLayout.astro";
import pb from "@/lib/database";

const data = await pb.collection('profiles').getFullList()

const visi = data.find((item) => item.category === 'visi')
const misi = data.find((item) => item.category === 'misi')


const rencanaStrategis = {
  title: "Rencana Strategis",
  description: "Perencanaan strategis (RENSTRA) merupakan langkah  awal yang dilakukan Kantor Kementerian Agama Kota Probolinggo agar mampu menjawab segala tuntutan lingkungan strategis baik itu lokal, Nasional, regional dan global dengan tetap berada dalam tata sistem administrasi Negara Kesatuan RI. Melalui pendekatan strategis yang jelas dan sinerjik maka Kantor Kementerian Agama Kota Probolinggo dapat menyelaraskan Visi dan Misinya.",
}

---

<BaseLayout title="Visi Misi">
  <div class="max-sm:mx-5 mx-20 my-30">
    <h1 class="text-3xl font-bold mb-10">Visi & Misi</h1>
    <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-10 max-sm:gap-5">
      <div>
        <h2 class="text-2xl font-bold mb-5">Visi</h2>
        <article class="text-lg max-sm:text-base text-justify" set:html={visi?.content} />
      </div>
      <div>
        <h2 class="text-2xl font-bold mb-5">Misi</h2>
        <article class="text-lg max-sm:text-base text-justify" set:html={misi?.content} />
      </div>
    </div>
    <div class="mt-5">
      <h2 class="text-2xl font-bold mb-5">{rencanaStrategis.title}</h2>
      <p class="text-lg max-sm:text-base text-justify">{rencanaStrategis.description}</p>
    </div>
  </div>
</BaseLayout>