---
import Navbar from "@/components/Navbar";
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="preload" as="image" href="/bg.webp" type="image/webp" />
		<link rel="preload" as="video" href="/bg.mp4" type="video/mp4" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Kantor Kementerian Agama Kota Probolinggo. Melayani masyarakat dengan integritas untuk mewujudkan masyarakat yang taat beragama, rukun, cerdas, dan sejahtera. Portal resmi berita & layanan publik." />
		<meta name="keywords" content="Portal Resmi, Kantor Kementerian Agama, Kota Probolinggo" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} - ${process.env.SITE_NAME || import.meta.env.SITE_NAME}` : process.env.SITE_NAME || import.meta.env.SITE_NAME}</title>
	</head>
	<body class="bg-accent relative">
		<Navbar client:load/>
		<slot/>
		<script src="https://cdn.jsdelivr.net/npm/sienna-accessibility@latest/dist/sienna-accessibility.umd.js" defer></script>
		<!-- <script src="https://website-widgets.pages.dev/dist/sienna.min.js" defer></script> -->
	</body>
	</html>